* {
    padding: 0;
    margin: 0;
    font-family: Inter;
}
/* common styling */
.container {
    max-width: 1200px;
    margin: auto;
}

.btn-gradient {
    border-radius: 10000px;
    border: none;
    padding: 0.78125rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: white;
    cursor: pointer;
    max-width: max-content;
}
.btn-gradient:hover{
    background: linear-gradient(200deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
/* Button border animation started */
.gradient-border{
  position: relative; /* Essential for positioning the pseudo-element */
  padding: 3px; /* The padding around the inner span is where the border appears */
  background-color: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));;
  border: none;
  border-radius: 50px;
  overflow: hidden; /* Clips the overflowing gradient */
  cursor: pointer;
}

.gradient-border span{
  position: relative;
  z-index: 1; /* Ensures the button content is above the gradient */
  display: block;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 100000px;
}

.gradient-border::before{
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  /* Use conic-gradient for better rotation effect */
  background: conic-gradient(from 0deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  animation: glowing 2s linear infinite; /* infinite Animates the background position */
  z-index: 1;
}

@keyframes glowing {
0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* button border animation ended */
.btn-trsp {
    border-radius: 1000px;
    border: 2px solid #00FF88;
    padding: 0.78125rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    color: #00FF88;
    cursor: pointer;
    max-width: max-content;
}  
.btn-trsp:hover{
    background-color: rgba(255, 255, 255, 0.075);
}


/* header background styling */
header{
    background-color: rgba(35, 14, 61, 1);
}

/* Nav bar styling */
nav{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}
nav .menu{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.logo{
    width: 14rem;
    height: 2rem;
}
nav .menu a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
#hamburger-menu{
    display: none;
}

/* Hero Section Styling */
.hero-parent{
    background-image: url(./assets/hero-bg.png);
    max-width: 100%;
}
.image-container{
    /* border: 2px solid red;  */
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    position: relative;
}
.badge{
    /* border: 2px solid greenyellow; */
    top: -5.625rem;
    right: 0.3125rem;
    background-color: #00FF88;
    border-radius: 62.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 3px 27px 0px #00FF88;
    padding: 0.5rem 1rem;
    z-index: 3;
}
.outer-image{
    /* border: 2px solid red; */
    padding-top: 6rem; 
    left: 5.75rem;
    z-index: 1; 
}
.inner-image{
    /* border: 2px solid red; */
    top: 3.125rem;
    right: 13.75rem;
    z-index: 2;
    padding-bottom: 0;
}

.textbtn-container{
    /* border: 2px solid red;  */
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.box h2{
    color: white;
    font-size: 4.25rem;
    font-weight: 800;
    text-align: center;
}
.box p{
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.box-btn{
    display: flex;
    gap: 10px;
}
.about-parent{
    background: rgba(26, 11, 46, 1);;
}
.about-child{
    /* border: 2px solid red; */
    color: white;
    text-align: center;
    padding: 50px 120px 80px;
}
.about-child h2{
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.62rem,;
    padding-bottom: 1rem;
}
.about-child p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding-bottom: 5rem;
}
.about-child hr{
    margin-bottom: 5rem;
    border: 0.25px solid rgba(9, 26, 71, 0.932);
}
.numbers-container-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 5rem;
}
.numbers-container-2{
    display: none;
}
.numbers{
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.625rem;
    color: #00FF88;
}
.numbers-text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: white;
}

/* Why Choose TechWave section Styles */
.why-techwave-parent{
    background-color: rgba(35, 14, 61, 1);
}

.why-techwave-child h2{
    padding: 4.375rem 0;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.625rem;
    text-align: center;
    color: white;

}
            
.why-techwave{
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            padding-bottom: 5rem;

}
.pre-audio{
    color: white;
    padding: 1.875rem;
    /* border: 2px solid red; */
    border-radius: 2.5rem;
    background: rgba(53, 17, 101, 0.4);
}
.pre-audio img{
    padding-top: 3.125rem;
    padding-bottom: 1.25rem;
}
.pre-audio h3{
    padding-bottom: 1.25rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8125rem;
}
.pre-audio p{
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
.left-nav{
    grid-row: span 2;
}
.wide-layout1{
    grid-column: span 2;
}
.wide-layout2{
    grid-column: span 2;
}
.footer1{
    grid-column: span 2;    
}
.footer2{
    grid-column: span 1;
    
}

/* Fetured Episode Styling */

.featured-episode-container{
    background: rgba(26, 11, 46, 1);
}
.featured-episode-container h2{
    padding: 4.375rem 0;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.625rem;
    text-align: center;
    color: white;

}
.video-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.video{
    color: white;
    /* padding: 1.875rem; */
    border: 2px solid red;
    /* border-radius: 2.5rem; */
    border-radius: 2.5rem;
    background: rgba(53, 17, 101, 0.4);
}
.video iframe{
    border-top-left-radius: 2.25rem;
    border-top-right-radius: 2.25rem;
    padding-bottom: 1.25rem;
    margin: 5px auto;
}
.video h3{
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8125rem;
}
.video p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.display-flex{
    margin-top: 5px;
    display: flex;
    gap: 5px;
    color: #00FF88;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
}

/* Meet the host styling */
.meet-the-host-container{
    background: rgba(26, 11, 46, 1);
    padding-bottom: 7.5rem;
}

.meet-the-host-container h2{
    padding: 4.375rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.625rem;
    text-align: center;
    color: white;
}
.host-container {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}
.host img{
    padding: 40px 40px 0;
}
.host h3{
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    padding-top: 48.5px;
    padding-bottom: 16px;
}
.host p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 40px;
}
.social-icon{
    display: flex;
    padding: 20px;
    justify-content: start;
    gap: 20px;
    
}
.social-icon img {
    width: 20px;
    height: 20px;
    border: 1px solid #533C72;
    border-radius: 50%;
    /* background-color: rgba(53, 17, 101, 0); */
    padding: 10px;
}
.footer-container{
    background-image: url(./assets/footer-bg.png);
    max-width: 100%;
}
.footer-parent{
   padding-top: 120px;
   text-align: center; 
}
.footer-child{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.footer-child img{
    /* border: 2px solid red; */
    padding-top: 120px;
    align-items: center;
    /* max-width: max-content; */
}
.footer-child p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(230, 236, 236);
    text-align: center;
    padding-bottom: 120px;

}
.footer-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 72px;
    font-size: 16px;
    line-height: 19px;

}
.footer-menu a{
    text-decoration: none;
    color: white;
}

     








/* Making responsive for Devices */

@media screen and (max-width:576px){
    #menu-item{
        display: none;
    }
    #btn-nav{
        display: none;
    }
    #hamburger-menu{
        display: block;
        cursor: pointer;
    }
    .box p{
        padding: 0 20px ;
    }
    .about-child{
        color: white;
        text-align: center;
        padding: 40px 19px;
    }
    .about-child h2{
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.4375rem,;
        padding-bottom: 1rem;
    }
    .about-child p{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        padding-bottom: 2.5rem;
    }
    .about-child hr{
        margin-bottom: 2.5rem;
    }
    .numbers-container-1{
    display: none;
    }
    .numbers-container-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;
        column-gap: 3rem;
    }
    .numbers{
        font-size: 3rem;
        font-weight: 900;
        line-height: 3.625rem;
        color: #00FF88;
    }
    .numbers-text{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        color: white;
    }
    .why-techwave{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.625rem;
        grid-template-rows: repeat(1, 1fr);
        gap: 1.25rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
    .left-nav, .footer2{
        grid-row: span 1;
        grid-column: span 2;
    }
    .video-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.625rem;
        grid-template-rows: repeat(1, 1fr);
        gap: 1.25rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        grid-row: span 1;
        grid-column: span 2;
    }
    .video{
        width: 86%;
        margin: 0 auto;
        /* margin: 25px 35px 0 35px; */
        color: white;
        /* padding: 1.875rem; */
        border: 2px solid red;
        border-radius: 2.5rem;
        background: rgba(53, 17, 101, 0.4);
}
    .video iframe{
        border-top-left-radius: 2.25rem;
        border-top-right-radius: 2.25rem;
        padding-bottom: 1.25rem;
        /* padding-left: 25px; */
        margin: 0 auto;
    }
.video h3{
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8125rem;
}
.video p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.host-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    margin: 0 25px;
}
.host img{
    padding: 40px 40px 0;
}
.host h3{
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.host p{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 40px;
    padding-left: 40px;
}
.social-icon{
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 20px;
    
}
.social-icon img {
    width: 20px;
    height: 20px;
    border: 1px solid #533C72;
    border-radius: 50%;
    /* background-color: rgba(53, 17, 101, 0); */
    padding: 10px;
}
.footer-container{
    background-image: url(./assets/footer-bg.png);
    width: 120%;
    background-repeat: repeat-x;
}
.footer-parent{
   padding-top: 100px;
   text-align: center; 
}
.footer-parent img{
    /* width: 219px;
    height: 32px; */
    width: 70%;
}
.footer-child{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.footer-child img{
    /* border: 2px solid red; */
    
    padding-top: 120px;
    align-items: center;
    /* max-width: max-content; */
}
.footer-child p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(230, 236, 236);
    text-align: center;
    padding-bottom: 120px;

}
.footer-menu{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: auto;
    justify-content: space-around;
    gap: 15px;
    font-size: 16px;
    line-height: 19px;

}

}

@media screen and (min-width:300px) and (max-width:576px){
    .video{
        width: 100%;
        /* margin: 0 auto; */
        /* margin: 25px 35px 0 35px; */
        color: white;
        /* padding: 1.875rem; */
        border: 2px solid red;
        border-radius: 2.5rem;
        background: rgba(53, 17, 101, 0.4);
}
 .video iframe{
        width: 100%;
        border-top-left-radius: 2.25rem;
        border-top-right-radius: 2.25rem;
        padding-bottom: 1.25rem;
        /* padding-left: 25px; */
        /* margin: 0 auto; */
    }
}
 